<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup using OTP</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
        }

        input {
            margin-bottom: 10px;
            padding: 8px;
            font-size: 16px;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <p style="color: red;">
        <% if (error) { %>
            <%= error %>
                <% } %>

    </p>
    <form action="/user/signup/verify-otp" method="POST">
        <input type="hidden" name="authToken" value="<%= authToken %>">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <button type="submit">Verify OTP</button>
    </form>
</body>

</html>